body{
	background-color: #F0FFFF;
	font-family: 'Ubuntu', sans-serif;
}

#header{
	margin: 50px 0px 0px 0px;
	padding: 0px;

	
}

#presentacion{
	color:white;
	max-height: auto;

}

h1{
	font-weight: bold;
}

#cuerpo {
	margin-left: 5px;
}

.recuadro {
	margin-top: 10px;
	height: 280px;
	overflow: scroll;
}

#mensaje{
	resize : none;
}

#indice{
	font-style: italic;
}

@media only screen and (max-width: 600px){
	
	div{
		max-width: 100%;
	}
	#fotoperfil{
		align: center;
	}
	#presentacion.h1{
		text-align: left;
		margin-left: 10px;
		font-size: large;
	}
	 #presentacion.h2{
	 	text-align: left;
	 	font-size: small;
	 }
	#indice{
		height: 140px;
		overflow: scroll;
	}
	#cuerpo{
		height: max-height;
	}
	textarea{
		width: 250px;
}

}