body {
	background-color : #f0ffff;
	font-family : 'Ubuntu', sans-serif;
	overflow-y : scroll;
	overflow-x : hidden;
	width : 90vw;
	margin : 0;
	padding : 0;
}
h1 {
	font-weight : bold;
	font-size : 4vw;
}
h2 {
	font-weight : bold;
}
h3 {
	font-weight : bold;
}
.recuadro {
	margin-top : 20px;
	overflow-x : scroll;
	height : 75vh;
}
#header {
	margin : 0;
	padding : 0;
}
#fotoperfil{
	height: 200px;
	width: 200px;
}
#presentacion {
	color : white;
}
#indice {
	font-style : italic;
	border-top : 1px solid;
	border-left : 1px solid;
	border-bottom : 1px solid;
	width : 20vw;
	font-size: 1.5vw;
}
#cuerpo {
	width : 70vw;
}
#footer {
	margin : 20px 0 0 0;
	padding: 10px;
	color : rgb(110, 110, 110);
	font-size : small;
}
#footer p {
	font-size : x-small;
}
#footer a {
	color : rgb(110, 110, 110);
}

@media only screen and (max-width: 800px){
	body {
		font-size : large;
	}
	h1{
		font-size: xx-large;
	}
	h2{
		font-size: x-large;
	}
	h3{
		font-size: large;
	}
	p{
		font-size: medium;
	}
	a{
		font-size: medium;
	}
	footer {
		align-content: center;
		height : auto;
		font-size : x-small;
	}
	#fotoperfil {
		align-items : center;
		width : 25vw;
		height : auto;
	}
	#presentacion h1 {
		text-align : center;
	}
	#presentacion h2 {
		text-align : center;
		font-size : medium;
	}
	#indice {
		height : 30vh;
		width : 100vw;
		overflow : scroll;
	}
	#cuerpo {
		width : 100vw;
	}
}

